main {
  background: url(../assets/background2.jpg);
  height: 100vh;
}

/* mobile */
@media screen and (max-width: 600px) {
  ul li button {
    display: none;
  }

  main p {
    display: inline-block;
  }
}
